node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.godot/
logs/
*.log
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
venv/
env/
ENV/
.venv/
env.bak/
*.coverage
.cache/
.pytest_cache/
*.pm_to_blib
blib/
Makefile.old
pm_to_blib
vendor/
composer.lock
.dart_tool/
.packages
pubspec.lock
build/
bin/
pkg/
*.exe
*.test
*.out
target/
Cargo.lock
.svelte-kit/
*.svelte-kit
dist-newstyle/
.cabal/
*.hi
*.o
*.so
*.dyn_o
*.dyn_hi
dist/
cabal.project.local
cabal.project.local.new*
cabal.project.local.v2*
*.prof
*.eventlog
.stack-work/
*.hie
*.fasl
*.ufasl
*.lib
*.x86f
*.sparcf
*.ppcf
*.hpf
*.68kf
*.fas
*.fasl.*
.export/
.import/
*.import
build/
dist/
out/
*.tsbuildinfo
*.d.ts
coverage/
.next/
.nuxt/
.svelte/
.eslintcache
.jest/
*.stories.*
storybook-static/
*.o
*.a
*.d
*.lib
*.dll
*.so
*.dylib
*.exe
*.out
public/
*.local
lerna-debug.log*
dist-ssr/