__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.spec
venv/
env/
*.egg-info/
cython_debug/
.DS_Store
Thumbs.db
Desktop.ini
*.log
.vscode/
.idea/
*.bak
*.swp
*.tmp
.env
export_presets.cfg
.project.godot
import-*.godot
*.import
*.translation
export/
.godot/
/android/
